@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css);@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	overflow: hidden;
}
header{
    text-align: center;
    width: 100%;
    background: #333;
    color: #fff;
}
.customAlert {
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.customAlert p {
    margin: 0;
    color: #333;
}
.alertError {
    background-color: #f44336;
    p{
        color: #fff;
    }
}

.alertSuccess {
    background-color: #4CAF50;
    p{
        color: #fff;
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto */
    padding: 10px 0; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
}

@media (max-width: 768px) {
    .customAlert{
        top: 0px;
        max-width: 200px;
    }
}