{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
    <style>
        .btnContent{
            display: flex;
            .items{
                background: #0078d4;
                cursor: pointer;
                border-radius: 5px;
                margin: 10px;
                padding: 10px;

                i{
                    color: #fff;
                    font-size: 20px;
                }
            }
        }

        .mainContent{
            background: #0078d4;
            margin: 10px;
            border-radius: 5px;
            padding: 10px;
            height: 50%;
        }
        .txtContent{
            width: 400px;
            .txtInput{
                display: flex;
                justify-content: space-between;
                margin: 10px;

                label{
                    font-weight: 600;
                    color: #fff;
                }
                input{
                    border: none;
                    height: 30px;
                    border-radius: 5px;
                    padding-left: 10px;
                }
            }
        }

        .resultTable{
            margin: 10px;
            border-radius: 10px;
            max-height: calc(100vh - 300px);
            background: #0078d4;
            padding: 10px;
            overflow-y: auto;
        }
        .customTable {
            width: 100%;
            border-collapse: collapse;
        }
        .customTable th,
        .customTable td {
            border: 1px solid #ccc;
            padding: 8px;
        }
        .customTable th {
            background-color: #f0f0f0;
            font-weight: bold;
        }
        .customTable tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .customTable tbody tr{
            background-color: #e7e7e7;
        }
        #dialog{
            display: flex;
            input{
                height: 30px;
                border-radius: 5px;
                padding-left: 10px;
            }
            button{
                background: #0078d4;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                border: none;
                height: 30px;
                width: 40px;
                margin-left: 10px;
            }
        }
        /* Hover */
        .items:hover{
            background-color: #005a9e;
        }

        @media (max-width: 768px) {
            .txtContent {
                width: 100%;
            }
            .btnContent {
                justify-content: space-around;
            }
        }
    </style>
{% endblock %}

{% block title %}
    Página Inicial
{% endblock %}

{% block content %}
    <section class="btnContent">
        <div class="items" id="newPerson"><i class="fa-solid fa-plus"></i></div>
        <div class="items" id="addPerson"><i class="fa-solid fa-floppy-disk"></i></div>
        <div class="items" id="searchPerson"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="items" id="removePerson"><i class="fa-solid fa-trash"></i></div>

        <div id="dialog" title="Buscar" style="display: none;">
            <input type="text" id="txtPerson">
            <button id="btSearchPerson"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </section>

    <section class="mainContent">
        <div class="txtContent">
            <input type="text" hidden id="idPerson">
            <div class="txtInput">
                <label for="">Nome</label>
                <input type="text" id="name">
            </div>
            <div class="txtInput">
                <label for="">Sobrenome</label>
                <input type="text" id="lastName">
            </div>
            <div class="txtInput">
                <label for="">Idade</label>
                <input type="number" id="age">
            </div>
        </div>
    </section>

    <section id="resultTable" class="resultTable">
    </section>

    <!-- <script src="{% static 'js/main.js' %}"></script> -->
    <script>
        const addButton = document.querySelector("#addPerson");
        const searchPersonButton = document.querySelector("#searchPerson");
        const searchPersonDialog = document.querySelector("#btSearchPerson");
        const editPersonButton = document.querySelector("#editPerson");
        const removePerson = document.querySelector("#removePerson");
        const newPerson = document.querySelector("#newPerson")

        const idPersonInput = document.querySelector("#idPerson");
        const nameInput = document.querySelector("#name");
        const lastNameInput = document.querySelector("#lastName");
        const ageInput = document.querySelector("#age")
        const txtPerson = document.querySelector("#txtPerson")

        newPerson.addEventListener("click", (event) =>{
            event.preventDefault();
            clearFields();
        })

        removePerson.addEventListener("click", (event) => {
            event.preventDefault();
            const id = idPersonInput.value.trim();
            if (id !== "") {
                $.ajax({
                    url: `/person/remove_person/${id}`,
                    type: 'DELETE',
                    contentType: 'application/json',
                    headers: { "X-CSRFToken": getCookie("csrftoken") },
                    success: function(response) {
                        showAlert("success", response.message);
                        clearFields();
                    },
                    error: function(xhr, status, error) {
                        showAlert("error", 'Erro ao remover a pessoa: '+error)
                    }
                });
            } else {
                showAlert("error", "Nenhuma pessoa selecionada!");
            }
        });

        addButton.addEventListener("click", (event) => {
            event.preventDefault();
            const id = idPersonInput.value.trim();
            const nome = nameInput.value.trim();
            const lastName = lastNameInput.value.trim();
            const age = ageInput.value.trim();
            if (nome === "") {
                showAlert("error", "O campo de nome não pode estar vazio.");
            } else {
                savePerson(id, nome, lastName, age);
            }
        });

        searchPersonButton.addEventListener("click", (event) =>{
            event.preventDefault();

            openModalSearch()
            $("#dialog").dialog( "open" );
        });

        searchPersonDialog.addEventListener("click", (event) => {
            event.preventDefault();
            const person = $("#txtPerson").val().trim();

            if (person !== "") {
                $.ajax({
                    type: 'GET',
                    url: `/person/search_person?person=${person}`,
                    contentType: 'application/json',
                    success: function (data) {
                        $("#resultTable").html(data);
                        $("#dialog").dialog( "close" );
                    },
                    error: function (error) {
                        console.error('Erro:', error);
                    }
                });
            } else {
                showAlert("error", "O campo de busca não pode ser vazio")
            }
        });

        function editPerson(elemento) {
            const idPerson = elemento.getAttribute('data-idPerson');
            const namePerson = elemento.getAttribute('data-namePerson');
            const lastNamePerson = elemento.getAttribute('data-lastNamePerson');
            const agePerson = elemento.getAttribute('data-agePerson');

            if (idPerson && namePerson && lastNamePerson && agePerson) {
                idPersonInput.value = idPerson;
                nameInput.value = namePerson;
                lastNameInput.value = lastNamePerson;
                ageInput.value = agePerson;
            } else {
                console.error('Elemento não possui atributos data-* definidos.');
            }
        }

        function showAlert(type, text) {
            const alerta = document.getElementById("customAlert");
            const conteudoAlerta = document.getElementById("contentAlert");

            conteudoAlerta.textContent = text;

            if (type === "error") {
                alerta.classList.remove("alertSuccess");
                alerta.classList.add("alertError");
            } else if (type === "success") {
                alerta.classList.remove("alertError");
                alerta.classList.add("alertSuccess");
            }

            alerta.style.display = "block";
            setTimeout(() => {
                alerta.style.display = "none";
            }, 3000);
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function savePerson(id, name, lastname, age) {
            if (name === "" || lastName === "" || isNaN(age)) {
                showAlert("error", "Por favor, preencha todos os campos corretamente.");
                return;
            }
            var dados = {
                id_person: id,
                name: name,
                last_name: lastname,
                age: age
            };

            $.ajax({
                type: 'POST',
                url: "/person/save_person",
                data: dados,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
                success: function (response) {
                    if (response.success) {
                        showAlert("success", response.message);
                    } else {
                        showAlert("error", response.message);
                    }
                    clearFields()
                },
                error: function (error) {
                    showAlert("error", "Ocorreu um erro ao salvar a pessoa.");
                }
            });
        }


        function openModalSearch(elemento) {
            $( "#dialog" ).dialog({
                autoOpen: false,
                position: { my: "left top", at: "left bottom", of: "#searchPerson" },
                draggable: false,
                show: {
                    effect: "fold",
                    duration: 500
                },
                hide: {
                    effect: "fold",
                    duration: 300
                }
            });
        }

        function clearFields() {
            idPersonInput.value = '';
            nameInput.value = '';
            lastNameInput.value = '';
            ageInput.value = '';
        }
    </script>
{% endblock %}


{% block footer %}
    <p>&copy; {{ year }} By Lucas Marcelo</p>
{% endblock %}