.btnContent{
    display: flex;
    .items{
        background: #0078d4;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;

        i{
            color: #fff;
            font-size: 20px;
        }
    }
}

.mainContent{
    background: #0078d4;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    height: 50%;
}
.txtContent{
    width: 400px;
    .txtInput{
        display: flex;
        justify-content: space-between;
        margin: 10px;

        label{
            font-weight: 600;
            color: #fff;
        }
        input{
            border: none;
            height: 30px;
            border-radius: 5px;
            padding-left: 10px;
        }
    }
}

.resultTable{
    margin: 10px;
    border-radius: 10px;
    max-height: calc(100vh - 300px);
    background: #0078d4;
    padding: 10px;
    overflow-y: auto;
}
.customTable {
    width: 100%;
    border-collapse: collapse;
}
.customTable th,
.customTable td {
    border: 1px solid #ccc;
    padding: 8px;
}
.customTable th {
    background-color: #f0f0f0;
    font-weight: bold;
}
.customTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.customTable tbody tr{
    background-color: #e7e7e7;
}
#dialog{
    display: flex;
    input{
        height: 30px;
        border-radius: 5px;
        padding-left: 10px;
    }
    button{
        background: #0078d4;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        border: none;
        height: 30px;
        width: 40px;
        margin-left: 10px;
    }
}
/* Hover */
.items:hover{
    background-color: #005a9e;
}

@media (max-width: 768px) {
    .txtContent {
        width: 100%;
    }
    .btnContent {
        justify-content: space-around;
    }
}